/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: "Helvetica Neue", "Arial";
}

h5,
a {
  font-weight: lighter;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.partner-logo {
  max-width: 150px;
  margin: 15px 0;
}

.brand-logo-image {
  width: 50px;
  margin-top: 7px;
}

.carousel .indicators {
}

/* TEXT-REFLECT CSS */

.text-reflect,
.text-reflect:before,
.text-reflect {
  display: block;
  margin: 0;
  padding: 0;
}

.text-reflect,
.text-reflect:before,
.text-reflect:after {
  position: relative;
}

.text-reflect {
  display: inline-block;
  width: 100%;
  font-family: "Helvetica Neue", "Arial";
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.text-reflect:before {
  top: 79px;
  transform: scale(1, -1);
  backface-visibility: visible;
  z-index: 1;
}
.text-reflect.index:before {
  content: "Silizium Circuits";
}
.text-reflect.about-us:before {
  content: "About us";
}
.text-reflect.blogs:before {
  content: "Ideas";
}
.text-reflect.contact-us:before {
  content: "Contact us";
}
.text-reflect.products:before {
  content: "Products";
}

.text-reflect:after {
  content: "";
  display: block;
  top: -8px;
  left: 0;
  width: 100%;
  height: 33px;
  background-image: linear-gradient(
    to bottom,
    rgba(33, 33, 33, 0.4) 0%,
    rgba(33, 33, 33, 1) 50%
  );
  z-index: 2;
}
